
@{
    ViewBag.Title = "Index";
}

<h2 class="container">Lista de Categorías</h2>

<div class="container" id="divTabla">

</div>

<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/categoria.js"></script>
