
@{
    ViewBag.Title = "Index";
}

<h2 id="lblTituloForm">Categorias</h2>


<div class="container" id="divTabla">

</div>

<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/categoria.js"></script>