
@{
    ViewBag.Title = "Index";
}

<h2 class="container">Habitación</h2>

<div class="container" id="divTabla">

</div>



<script src="~/Scripts/habitacion.js"></script>
<script src="~/Scripts/generic.js"></script>