
@{
    ViewBag.Title = "Index";
}

<h2 class="container">Listado Cama</h2>
<div class="container" id="divTabla">

</div>


<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/cama.js"></script>

