
@{
    ViewBag.Title = "Index";
}

<h2 class="container">Tipo Habitacion</h2>

<fieldset class="container mb-4">

    <legend>Datos de Tipo Habtiacion</legend>

    <form id="frmTipoHabitacion" method="post">
        <div class="mb-3">
            <label>Id Tipo Habitación</label>
            <input type="text" class="form-control" name="id" value="0" readonly />
        </div>

        <div class="mb-3">
            <label>Nombre Tipo Habitación</label>
            <input type="text" class="form-control" name="nombre" />
        </div>

        <div class="mb-3">
            <label>Descripción</label>
            <input type="text" class="form-control" name="descripcion" />
        </div>
    </form>

    <button class="btn btn-primary" onclick="GuardarDatos()">Aceptar</button>
    <button class="btn btn-danger">Limpiar</button>

</fieldset>



<div class="container input-group mb-3">
    <input type="text" class="form-control"
           id="txtnombretipohabitacion"
           placeholder="Ingrese nombre tipo habitacion" />
    <button class="btn btn-primary"
            onclick="Buscar()"
            type="button" id="btnnombretipohabitacion">
        Buscar
    </button>
</div>
<div class="container" id="divTabla">

</div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/tipohabitacion.js"></script>

