
@{
    ViewBag.Title = "Index";
}

<h2>Tipo Habitación</h2>

<fieldset class="container mb-4">
    <legend>Datos de Tipo Habitación</legend>
    <form id="frmTipoHabitacion" method="post">
        <div class="row">
            <div class="mb-3 col-md-5">

                <label>Id Tipo Habitación</label>
                <input type="text" class="form-control"
                       name="id" value="0" readonly />
            </div>

            <div class="mb-3 col-md-7" >
                <label>Nombre Habitación</label>
                <input type="text" class="form-control"
                       name="nombre" />
            </div>

        </div>
        <div class="row">
            <div class=" mb-3">
                <label>Descripción</label>
                <input type="text" class="form-control"
                       name="descripcion" />
            </div>
        </div>
       

    </form>
    <button class="btn btn-primary" onclick="GuardarDatos()">Aceptar</button>
    <button class="btn btn-danger" onclick="Limpiar()">Limpiar</button>
</fieldset>


<div class="container input-group mb-3">
    <input type="text" class="form-control"
           id="txtnombretipohabitacion"
           placeholder="Ingrese nombre tipo habitación"
          />
    <button class="btn btn-primary" 
            onclick="Buscar()"
            type="button" id="btnnombretipohabitacion">Buscar</button>
</div>
<div class="container" id="divTabla" >

</div>
<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/tipohabitacion.js"></script>

