
@{
    ViewBag.Title = "Index";
}

<h2>Listado Persona</h2>



<div class="container">
    <button type="button" class="mb-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Nuevo
    </button>

    <div class="input-group mb-3">
        <select onchange="filtrarPersonaTipoUsuario()" class="form-control" id="cboTipoUsuario">
        </select>
    </div>

</div>

<div id="divTabla">

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmPersona" method="post">
                    <div class="mt-3 mb-3">
                        <label>Id Persona</label>
                        <input readonly type="text" name="iidpersona" value="" class="form-control" />
                    </div>
                    <div class="mt-3 mb-3">
                        <label>Nombre</label>
                        <input type="text" name="nombre" value="" class="form-control" />
                    </div>
                    <div class="mt-3 mb-3">
                        <label>Apellido Paterno</label>
                        <input type="text" name="apellidopaterno" value="" class="form-control" />
                    </div>
                    <div class="mt-3 mb-3">
                        <label>Apellido Materno</label>
                        <input type="text" name="apellidomaterno" value="" class="form-control" />
                    </div>
                    <div class="mt-3 mb-3">
                        <label>Telefono Fijo</label>
                        <input type="number" name="telefono" value="" class="form-control" />
                    </div>
                    <div class="mt-3 mb-3">
                        <label>Tipo Usuario</label>
                        <select  name="iidtipousuario" id="cboTipoUsuarioForm" class="form-control" >
                           
                        </select>
                    </div>
                    @*<div class="mt-3 mb-3">
                        <label>Telefono Fijo</label>
                        <input type="number" name="telefono" value="" class="form-control" />
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarPersona()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/persona.js"></script>
