
@{
    ViewBag.Title = "Index";
}

<h2>Listado Persona</h2>

<div class="container input-group mb-3">
    <select class="form-control" id="cboTipoUsuario">
    </select>
</div>

<div id="divTabla">

</div>


<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/persona.js"></script>
