
@{
    ViewBag.Title = "Index";
}

<h2>Listado Persona</h2>



<div class="container">
<button type="button" class="mb-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Nuevo
</button>

<div class="input-group mb-3">
    <select onchange="filtrarPersonaTipoUsuario()" class="form-control" id="cboTipoUsuario">
    </select>
</div>

</div>

<div id="divTabla">

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/persona.js"></script>
