
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtnombreproducto"
           onkeyup="Buscar()"
           placeholder="Ingrese nombre producto" />
</div>
<div id="divTabla">

</div>




<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/producto.js"></script>

