
@{
    ViewBag.Title = "Index";
}

<h2 class="container">Productos</h2>

<div class="container mb-3">
    <input type="text" class="form-control"
           id="txtnombreproducto"
           onkeyup="Busqueda()"
           placeholder="Ingrese nombre producto" />
</div>
<div class="container" id="divTabla">

</div>


<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/producto.js"></script>

